제 1회 기출문제 복원

### 작업형 - 제 1유형

01. 다음은 Boston Housing 데이터 세트이다. 범죄율 컬럼인 Crim 항목의 상위에서 10번째 값(즉, 범죄율을 큰 순서로 오름차순 정렬했을 때 10번에 위치한 값)으로 상위 10개의 값을 변환한 후, age가 80 이상인 데이터를 추출하여 crim의 평균값을 계산하시오.

In [1]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
boston_df = pd.read_csv('./data/1_1_boston.csv')
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [2]:
# 내림차순 정렬
boston_df_sorted = boston_df.sort_values('CRIM',ascending = False)
boston_df_sorted.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
380,88.9762,0.0,18.1,0.0,0.671,6.968,91.9,1.4165,24.0,666.0,20.2,396.90,17.21
418,73.5341,0.0,18.1,0.0,0.679,5.957,100.0,1.8026,24.0,666.0,20.2,16.45,20.62
405,67.9208,0.0,18.1,0.0,0.693,5.683,100.0,1.4254,24.0,666.0,20.2,384.97,22.98
410,51.1358,0.0,18.1,0.0,0.597,5.757,100.0,1.4130,24.0,666.0,20.2,2.60,10.11
414,45.7461,0.0,18.1,0.0,0.693,4.519,100.0,1.6582,24.0,666.0,20.2,88.27,36.98
404,41.5292,0.0,18.1,0.0,0.693,5.531,85.4,1.6074,24.0,666.0,20.2,329.46,27.38
398,38.3518,0.0,18.1,0.0,0.693,5.453,100.0,1.4896,24.0,666.0,20.2,396.90,30.59
427,37.6619,0.0,18.1,0.0,0.679,6.202,78.7,1.8629,24.0,666.0,20.2,18.82,14.52
413,28.6558,0.0,18.1,0.0,0.597,5.155,100.0,1.5894,24.0,666.0,20.2,210.97,20.08
417,25.9406,0.0,18.1,0.0,0.679,5.304,89.1,1.6475,24.0,666.0,20.2,127.36,26.64

In [3]:
# 상위 10번째 값 확인 및 변수 할당
df_crim_10 = boston_df_sorted.iloc[9,0]
print(df_crim_10)

25.9406

In [4]:
# 상위 10개의 값을 crim_10으로 변환
boston_df_sorted.iloc[:10,0] = df_crim_10
boston_df_sorted.head(11)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
380,25.9406,0.0,18.1,0.0,0.671,6.968,91.9,1.4165,24.0,666.0,20.2,396.90,17.21
418,25.9406,0.0,18.1,0.0,0.679,5.957,100.0,1.8026,24.0,666.0,20.2,16.45,20.62
405,25.9406,0.0,18.1,0.0,0.693,5.683,100.0,1.4254,24.0,666.0,20.2,384.97,22.98
410,25.9406,0.0,18.1,0.0,0.597,5.757,100.0,1.4130,24.0,666.0,20.2,2.60,10.11
414,25.9406,0.0,18.1,0.0,0.693,4.519,100.0,1.6582,24.0,666.0,20.2,88.27,36.98
404,25.9406,0.0,18.1,0.0,0.693,5.531,85.4,1.6074,24.0,666.0,20.2,329.46,27.38
398,25.9406,0.0,18.1,0.0,0.693,5.453,100.0,1.4896,24.0,666.0,20.2,396.90,30.59
427,25.9406,0.0,18.1,0.0,0.679,6.202,78.7,1.8629,24.0,666.0,20.2,18.82,14.52
413,25.9406,0.0,18.1,0.0,0.597,5.155,100.0,1.5894,24.0,666.0,20.2,210.97,20.08
417,25.9406,0.0,18.1,0.0,0.679,5.304,89.1,1.6475,24.0,666.0,20.2,127.36,26.64
400,25.0461,0.0,18.1,0.0,0.693,5.987,100.0,1.5888,24.0,666.0,20.2,396.90,26.77

In [5]:
# AGE 변수 값이 80 이상인 데이터 추출 후
boston_df_sorted_age_80 = boston_df_sorted[boston_df_sorted['AGE']>=80]
boston_df_sorted_age_80.tail()
boston_df_sorted_age_80['AGE'].min()

80.3

In [6]:
# CRIM 평균 계산
result = boston_df_sorted_age_80['CRIM'].mean()
print(result)

5.759386625

02. 다음은 California Housing 데이터 세트이다. 주어진 데이터의 첫 번째 행부터 순서대로 80%까지의 데이터를 훈련 데이터로 추출 후, 전체 방 개수 컬럼을 의미하는 'total_bedrooms' 변수의 결측치를 'total_bedrooms'변수의 중앙값으로 대체한 데이터 세트를 구성한다. 결측치 대체 전의 'total_bedrooms'변수 표준편차 값과 결측치 대체 후의 'total_bedrooms'변수 표준편차 값의 차이에 대한 절댓값을 계산하시오.

In [7]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
df2 = pd.read_csv('./data/1_2_housing.csv')
df2.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [8]:
# 전체 데이터 확인
df2.describe()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [9]:
# total_bedrooms 컬럼 80% 추출
df2_80 = df2['total_bedrooms'][:int(len(df2)*0.8)] # 소수점이 나올수 있기 때문에 int 함수 사용
print(len(df2))
print(len(df2_80))

20640
16512

In [10]:
# 80% 추출 후 결측치 확인
df2_80.isnull().sum()

159

In [11]:
# 결측치 대체 전 표준편차
std_before = df2_80.std() # quantile(0.25),var,median,mean,std
print(std_before)

435.900577052527

In [12]:
# 중앙값
median = df2_80.median()
print(median)

436.0

In [13]:
# 중앙값으로 결측치 대체
df2_80_fill = df2_80.fillna(median)

In [14]:
# 결측치 대체 후 표준편차
std_after = df2_80_fill.std()
print(std_after)

433.9254297608813

In [15]:
# 표준편차 값 차이 (절대값)
result = abs(std_before-std_after)
print(result)

1.975147291645726

3. 2번 문항에서 활용한 California Housing 데이터 세트를 그대로 활용한다. 인구 컬럼인 population 항목의 이상값의 합계를 계산하시오. (이상값은 평균에서 1.5 * 표준편차를 초과하거나 미만인 값의 범위로 정한다.

In [16]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
df3 = pd.read_csv('./data/1_3_housing.csv')
df3.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [17]:
# population 컬럼 분리 후 평균 및 표준편차 구하기
df3_popu = df3['population']
mean = df3_popu.mean()
std = df3_popu.std()
print(mean)
print(std)

1425.4767441860465
1132.4621217653375

In [18]:
# 이상값 범위 : 상한값, 하한값
top = mean + (std*1.5)
btom = mean - (std*1.5)
print(top)
print(btom)

3124.1699268340526
-273.2164384619598

In [19]:
# 이상값 데이터 추출
population_outlier = df3_popu[(df3_popu>top)|(df3_popu<btom)]
print(population_outlier)

95       3469.0
185      4367.0
283      4985.0
460      3337.0
485      3276.0
          ...
20543    3717.0
20544    6330.0
20563    6837.0
20604    3265.0
20629    6912.0
Name: population, Length: 1207, dtype: float64

In [20]:
result = population_outlier.sum()
print(result)

5607295.0

### 작업형 - 제 2유형

In [21]:
# [작업형 제 2유형 문제풀이 절차]
# 1) 데이터 탐색(데이터 구조, 정보, 기초 통계량 확인)
# 2) 데이터 전처리(결측치 , 이상치, 데이터 인코딩, 표준화 및 정규화)
# 3) 모델링(분류,회귀)
# 4) 모델 평가 및 선택(기준 평가 지표)
# 5) 최종 답안 제출(제출 전 답안 포맷 형태 확인)
# [유의사항]
# 1) 데이터 제공 형태 파악
# 2) 모형 평가를 위해 검증 데이터 사용

문제 1
다음은 E-Commerce Shipping 데이터 세트이다.
학습용 데이터(X_train,y_train)을 이용하여 배송 예측 모형을 만든 후, 이를 평가용 데이터(X_test)에 적용하여 얻은 예측 확률값을 다음과 같은 형식의 CSV 파일로 생성하시오.
(제출한 모델의 성능은 ROC-AUC 평가 지표에 따라 채점)   
ID,Reached.on.Time_Y.N
4733,0.6
2040,0.8
5114,0.45
5361,0.23

1. 다음은 E-commerce Shipping 데이터 세트이다. 주어진 훈련 데이터를 활용하여 고객이 주문한 물품의 정시 도착 여부를 예측하고 해당 예측 결과를 csv 파일로 제출하시오.

- 결과 제출 양식 : 제출한 예측값의 ROC_AUC 점수 결과를 통해 영역별 배점에 따라 최종 점수가 반영될 예정

- 변수 설명

> ID : 고객 ID 번호

> Warehouse_block : 창고의 블록 단위 구역(A, B, C, D, E, F)

> Mode_of_shipment : 제품 배송 방법

> Customer_care_calls : 문의 전화 수

> Customer_rating : 고객의 등급 (1: 가장 낮음, 5: 가장 높음)

> Cost_of_the_Product : 제품의 비용(달러 기준)

> Prior_purchases : 사전 구매 수량

> Product_importance : 제품의 중요도

> Gender : 성별 (F :여성, M : 남성)

> Discount_offered : 할인혜택

> Weight_in_gas : 그램 단위 무게

> Reached.on.Time_Y.N : 정시도착 유무

[유의사항]
- 성능이 우수한 예측 모형을 구축하기 위해서는 적절한 데이터 전처리, 피처 엔지니어링, 분류 알고리즘, 하이퍼파라미터 튜닝, 모형 앙상블 등이 수반되어야 한다.
- 수험번호.csv (예 : 0000.csv) 파일이 만들어지도록 코드를 제출한다.
- 제출한 모델의 성능은 ROC-AUC로 평가지표에 따라 채점한다.

In [22]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
X_train = pd.read_csv('./data/1_1_commerce_x_train.csv')
X_test = pd.read_csv('./data/1_2_commerce_x_test.csv')
y_train = pd.read_csv('./data/1_3_commerce_y_train.csv')

In [23]:
# 데이터 형태 확인
print(X_train.shape,X_test.shape,y_train.shape)

(7699, 11) (3300, 11) (7699, 2)

In [24]:
X_train.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,5015,C,Ship,6,2,254,4,low,M,4,1392
1,8289,A,Ship,5,4,145,3,low,M,2,4492
2,7488,F,Ship,5,1,242,5,medium,M,8,1382
3,9363,A,Ship,6,1,264,4,low,M,9,1243
4,1023,A,Ship,3,4,260,3,low,F,21,2003

In [25]:
y_train.head()

     ID  Reached.on.Time_Y.N
0  5015                    0
1  8289                    1
2  7488                    1
3  9363                    0
4  1023                    1

In [26]:
# X_train 결측치 확인
X_train.isnull().sum()

ID                     0
Warehouse_block        0
Mode_of_Shipment       0
Customer_care_calls    0
Customer_rating        0
Cost_of_the_Product    0
Prior_purchases        0
Product_importance     0
Gender                 0
Discount_offered       0
Weight_in_gms          0
dtype: int64

In [27]:
# X_test 결측치 확인
X_test.isnull().sum()

ID                     0
Warehouse_block        0
Mode_of_Shipment       0
Customer_care_calls    0
Customer_rating        0
Cost_of_the_Product    0
Prior_purchases        0
Product_importance     0
Gender                 0
Discount_offered       0
Weight_in_gms          0
dtype: int64

In [28]:
# X_train 기초 통계량 확인
X_train.describe()

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms
count,7699.000000,7699.000000,7699.000000,7699.000000,7699.000000,7699.0000,7699.000000
mean,5498.236005,4.063645,2.992337,210.130926,3.572152,13.2525,3632.733862
std,3159.252007,1.137176,1.412124,48.294630,1.527384,16.0812,1635.625879
min,3.000000,2.000000,1.000000,96.000000,2.000000,1.0000,1001.000000
25%,2789.500000,3.000000,2.000000,169.000000,3.000000,4.0000,1834.000000
50%,5473.000000,4.000000,3.000000,214.000000,3.000000,7.0000,4151.000000
75%,8231.000000,5.000000,4.000000,251.000000,4.000000,10.0000,5051.500000
max,10999.000000,7.000000,5.000000,310.000000,10.000000,65.0000,7401.000000

In [29]:
# X_test 기초 통계량 확인
X_test.describe()

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms
count,3300.000000,3300.000000,3300.000000,3300.000000,3300.000000,3300.000000,3300.000000
mean,5504.115455,4.033030,2.986364,210.350606,3.556970,13.654848,3637.009697
std,3212.848205,1.151379,1.417252,47.526044,1.512431,16.490969,1635.040962
min,1.000000,2.000000,1.000000,96.000000,2.000000,1.000000,1003.000000
25%,2669.250000,3.000000,2.000000,170.000000,3.000000,4.000000,1852.000000
50%,5564.500000,4.000000,3.000000,216.000000,3.000000,7.000000,4147.000000
75%,8296.500000,5.000000,4.000000,250.000000,4.000000,11.000000,5044.000000
max,10998.000000,7.000000,5.000000,310.000000,10.000000,65.000000,7846.000000

In [30]:
# 데이터 타입 확인
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7699 entries, 0 to 7698
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   7699 non-null   int64
 1   Warehouse_block      7699 non-null   object
 2   Mode_of_Shipment     7699 non-null   object
 3   Customer_care_calls  7699 non-null   int64
 4   Customer_rating      7699 non-null   int64
 5   Cost_of_the_Product  7699 non-null   int64
 6   Prior_purchases      7699 non-null   int64
 7   Product_importance   7699 non-null   object
 8   Gender               7699 non-null   object
 9   Discount_offered     7699 non-null   int64
 10  Weight_in_gms        7699 non-null   int64
dtypes: int64(7), object(4)
memory usage: 661.8+ KB

In [31]:
# 데이터 타입 확인
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3300 entries, 0 to 3299
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   3300 non-null   int64
 1   Warehouse_block      3300 non-null   object
 2   Mode_of_Shipment     3300 non-null   object
 3   Customer_care_calls  3300 non-null   int64
 4   Customer_rating      3300 non-null   int64
 5   Cost_of_the_Product  3300 non-null   int64
 6   Prior_purchases      3300 non-null   int64
 7   Product_importance   3300 non-null   object
 8   Gender               3300 non-null   object
 9   Discount_offered     3300 non-null   int64
 10  Weight_in_gms        3300 non-null   int64
dtypes: int64(7), object(4)
memory usage: 283.7+ KB

In [32]:
# object 타입 컬럼, 고유값 개수 확인
X_train[['Warehouse_block','Mode_of_Shipment','Product_importance','Gender']].nunique()

Warehouse_block       5
Mode_of_Shipment      3
Product_importance    3
Gender                2
dtype: int64

In [33]:
# object 컬럼 삭제
X_train = X_train.drop(['Warehouse_block','Mode_of_Shipment','Product_importance','Gender'],axis=1)
X_test = X_test.drop(['Warehouse_block','Mode_of_Shipment','Product_importance','Gender'],axis=1)

In [34]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7699 entries, 0 to 7698
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   7699 non-null   int64
 1   Customer_care_calls  7699 non-null   int64
 2   Customer_rating      7699 non-null   int64
 3   Cost_of_the_Product  7699 non-null   int64
 4   Prior_purchases      7699 non-null   int64
 5   Discount_offered     7699 non-null   int64
 6   Weight_in_gms        7699 non-null   int64
dtypes: int64(7)
memory usage: 421.2 KB

In [35]:
# 모델링 및 평가 라이브러리 임포트
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score

In [36]:
# 모델링을 위한 ID 변수 제거
X_train_id = X_train.pop('ID')
X_test_id = X_test.pop('ID')

In [37]:
X_train.head()

,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms
0,6,2,254,4,4,1392
1,5,4,145,3,2,4492
2,5,1,242,5,8,1382
3,6,1,264,4,9,1243
4,3,4,260,3,21,2003

In [38]:
X_train_id
print(type(X_train_id),X_train_id.ndim,X_train_id.shape)

<class 'pandas.core.series.Series'> 1 (7699,)

In [39]:
# 훈련, 검증 데이터 분할
from sklearn.model_selection import train_test_split
X_tr,X_val,y_tr,y_val = train_test_split(X_train,y_train['Reached.on.Time_Y.N'],test_size = 0.2,random_state = 1234)

In [40]:
# 로지스틱회귀분석
model_lgm = LogisticRegression()
model_lgm.fit(X_tr,y_tr)
pred_lgm = model_lgm.predict_proba(X_val)
roc_auc_score(y_val,pred_lgm[:,1])

c:\Users\hyunk\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.7262103181952065

In [41]:
# 의사결정나무
model_dt = DecisionTreeClassifier()
model_dt.fit(X_tr,y_tr)
pred_dt = model_dt.predict_proba(X_val)
roc_auc_score(y_val,pred_dt[:,1])

0.6340173092830599

In [42]:
# 랜덤포레스트
model_rf = RandomForestClassifier()
model_rf.fit(X_tr,y_tr)
pred_rf = model_rf.predict_proba(X_val)
roc_auc_score(y_val,pred_rf[:,1])

0.7364205728959979

In [43]:
# 최종 모델 선택
model_final = RandomForestClassifier()
model_final.fit(X_train,y_train['Reached.on.Time_Y.N'])
pred_final = model_final.predict_proba(X_test)
pred_final

array([[0.44, 0.56],
       [0.  , 1.  ],
       [0.62, 0.38],
       ...,
       [0.  , 1.  ],
       [0.46, 0.54],
       [0.  , 1.  ]])

In [44]:
# 제출 파일 생성
submission = pd.DataFrame({'ID' : X_test_id,'Reached.on.Time_Y.N':pred_final[:,1]})
submission.head()

      ID  Reached.on.Time_Y.N
0  10432                 0.56
1   1409                 1.00
2   6233                 0.38
3   3817                 0.30
4   6197                 0.42

In [45]:
# 저장 : 수험번호.csv
submission.to_csv('./output/submission.csv',index=False)