**1) 작업형 제1유형**

01.	주어진 데이터 세트는 소방서별 신고접수시간, 출발시간, 도착시간이다. 신고접수 후 출발시간까지를 대응시간, 출발시간에서 도착시간까지를 출동시간이라고 할 때 소방서별 출동시간 평균이 가장 큰 소방서를 구하시오.

In [1]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
from sklearn.preprocessing import StandardScaler

df1 = pd.read_csv('./data/6_1_1_Fire Station Data.csv',encoding = 'cp949')
df1.head()

      소방서ID            신고접수시간              출발시간              도착시간
0  StationS  2023-07-08 21:05  2023-07-08 21:09  2023-07-08 21:37
1  StationI   2023-06-04 8:11   2023-06-04 8:14   2023-06-04 8:58
2  StationJ  2023-01-31 16:20  2023-01-31 16:23  2023-01-31 16:44
3  StationD  2023-03-10 17:31  2023-03-10 17:32  2023-03-10 18:03
4  StationB   2023-06-18 7:23   2023-06-18 7:26   2023-06-18 8:18

In [2]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 993 entries, 0 to 992
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   소방서ID   993 non-null    object
 1   신고접수시간  993 non-null    object
 2   출발시간    993 non-null    object
 3   도착시간    993 non-null    object
dtypes: object(4)
memory usage: 31.2+ KB

In [3]:
# 문자열 데이터를 시간 데이터로 변환
df1['신고접수시간'] = pd.to_datetime(df1['신고접수시간'])
df1['출발시간'] = pd.to_datetime(df1['출발시간'])
df1['도착시간'] = pd.to_datetime(df1['도착시간'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 993 entries, 0 to 992
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   소방서ID   993 non-null    object
 1   신고접수시간  993 non-null    datetime64[ns]
 2   출발시간    993 non-null    datetime64[ns]
 3   도착시간    993 non-null    datetime64[ns]
dtypes: datetime64[ns](3), object(1)
memory usage: 31.2+ KB

In [4]:
# 대응시간 및 출동시간 계산
df1['대응시간'] = (df1['출발시간'] - df1['신고접수시간']).dt.total_seconds() /60 # dt.total_soconds : 초 단위 계산 후 -> 분 단위로 변환
df1['출동시간'] = (df1['도착시간'] - df1['출발시간']).dt.total_seconds() /60
df1.head()

,소방서ID,신고접수시간,출발시간,도착시간,대응시간,출동시간
0,StationS,2023-07-08 21:05:00,2023-07-08 21:09:00,2023-07-08 21:37:00,4.0,28.0
1,StationI,2023-06-04 08:11:00,2023-06-04 08:14:00,2023-06-04 08:58:00,3.0,44.0
2,StationJ,2023-01-31 16:20:00,2023-01-31 16:23:00,2023-01-31 16:44:00,3.0,21.0
3,StationD,2023-03-10 17:31:00,2023-03-10 17:32:00,2023-03-10 18:03:00,1.0,31.0
4,StationB,2023-06-18 07:23:00,2023-06-18 07:26:00,2023-06-18 08:18:00,3.0,52.0

In [5]:
# 대응시간 및 출동시간 평균 계산
df1_response = df1.groupby('소방서ID')[['출동시간']].mean()
df1_response = df1_response.reset_index()
df1_response.head()

      소방서ID       출동시간
0  StationA  24.700000
1  StationB  32.024390
2  StationC  30.108696
3  StationD  33.393939
4  StationE  28.533333

In [6]:
# 출동시간 평균으로 내림차순 정렬하기
df1_response = df1_response.sort_values('출동시간',ascending = False)
df1_response.head()

       소방서ID       출동시간
25  StationZ  37.937500
13  StationN  35.114286
12  StationM  33.500000
3   StationD  33.393939
22  StationW  33.146341

In [7]:
# 출동시간 평균이 가장 긴 소방서 탐색
results = df1_response.iloc[0,0]
print(results)

StationZ

**1) 작업형 제1유형**

02. 주어진 데이터 세트는 초등학교 학년별 학생 수와 교사 수이다.
교사 1인당 학생 수가 가장 많은 학교를 찾은 후 그 학교의 전체 학생 수를 구하시오.

In [8]:
# 라이브러리 및 데이터 불러오기
df2 = pd.read_csv('./data/6_1_2_Elementary School Data.csv')
df2.head()
df2['School Name'].unique()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   School Name  300 non-null    object
 1   1G Students  300 non-null    int64
 2   2G Students  300 non-null    int64
 3   3G Students  300 non-null    int64
 4   4G Students  300 non-null    int64
 5   5G Students  300 non-null    int64
 6   6G Students  300 non-null    int64
 7   Teachers     300 non-null    int64
dtypes: int64(7), object(1)
memory usage: 18.9+ KB

In [9]:
# 총 학생 수 계산
df2['Total Students'] = df2[[col for col in df2.columns if 'Students' in col]].sum(axis =1)
# df2['Total Students'] = df2[['1G Students','2G Students','3G Students',4G Students','5G Students','6G Students']].sum(axis=1)
df2['Total Students'].head()

0    336
1    380
2    444
3    346
4    361
Name: Total Students, dtype: int64

In [10]:
# 교사 1인당 학생 수 계산
df2['Students per Teacher'] = df2['Total Students'] / df2['Teachers']
df2['Students per Teacher'].head()

0    22.400000
1    25.333333
2    19.304348
3    19.222222
4    16.409091
Name: Students per Teacher, dtype: float64

In [11]:
# 교사 1인당 가장 학생 수가 많은 학교 탐색
hightest_ratio_school = df2.loc[df2['Students per Teacher'].idxmax()]
hightest_ratio_school.shape
print(hightest_ratio_school)

School Name                  ES87
1G Students                    38
2G Students                    66
3G Students                    21
4G Students                    24
5G Students                    61
6G Students                    35
Teachers                        9
Total Students                245
Students per Teacher    27.222222
Name: 86, dtype: object

In [12]:
# 해당 학교의 전체 학생 수 계산
results = hightest_ratio_school['Total Students']
print(results)

245

**1) 작업형 제1유형**

03. 주어진 데이터 세트는 경찰서별 월별 발생한 범죄 데이터이다. 2021년 대비 2022년의 연평균 범죄율이 가장 많이 늘어난 경찰서 (Police Station)의 2021년 교통범죄(Traffic Crimes) 데이터를 구하시오.

In [13]:
# 라이브러리 및 데이터 불러오기
df3 = pd.read_csv('./data/6_1_3_Crime Data.csv')
df3.head()

,Police Station,Year-Month,Violent,Theft,Traffic,Intelligence,Against Morals,Special Economic,Drug,Health,Environmental,Labor,Security,Election,Military,Other
0,PS 1,2021-01-31,36,42,42,20,12,27,35,26,7,16,6,18,13,17
1,PS 1,2021-02-28,25,21,32,1,20,22,0,49,47,7,2,15,2,47
2,PS 1,2021-03-31,45,7,36,46,35,46,9,34,17,33,15,45,27,42
3,PS 1,2021-04-30,43,24,2,2,18,41,37,1,0,44,33,30,45,6
4,PS 1,2021-05-31,23,36,11,2,36,44,29,34,47,25,35,11,33,47

In [14]:
df3['Year-Month'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 480 entries, 0 to 479
Series name: Year-Month
Non-Null Count  Dtype
--------------  -----
480 non-null    object
dtypes: object(1)
memory usage: 3.9+ KB

In [15]:
# 연도 컬럼 생성 및 추가
df3['Year'] = pd.to_datetime(df3['Year-Month']).dt.year
df3['Year'].head()

0    2021
1    2021
2    2021
3    2021
4    2021
Name: Year, dtype: int32

In [16]:
# 전체 범죄 데이터를 합산한 컬럼 생성
df3['total'] = df3.loc[:,'Violent':'Other'].sum(axis = 1)
print(df3)

    Police Station  Year-Month  Violent  Theft  Traffic  Intelligence  \
0             PS 1  2021-01-31       36     42       42            20
1             PS 1  2021-02-28       25     21       32             1
2             PS 1  2021-03-31       45      7       36            46
3             PS 1  2021-04-30       43     24        2             2
4             PS 1  2021-05-31       23     36       11             2
..             ...         ...      ...    ...      ...           ...
475          PS 20  2022-08-31       50      8       16             4
476          PS 20  2022-09-30       10     10        5             7
477          PS 20  2022-10-31       25     29        1            31
478          PS 20  2022-11-30       17     25        4            10
479          PS 20  2022-12-31       27     40       18            23

     Against Morals  Special Economic  Drug  Health  Environmental  Labor  \
0                12                27    35      26              7     16
1                20                22     0      49             47      7
2                35                46     9      34             17     33
3                18                41    37       1              0     44
4                36                44    29      34             47     25
..              ...               ...   ...     ...            ...    ...
475              16                28    31      49             28     45
476              17                 1     5      49             27     46
477               5                29    11      48             37     45
478              20                 2    15      31             12      6
479              27                11    45      48             50      4

     Security  Election  Military  Other  Year  total
0           6        18        13     17  2021    317
1           2        15         2     47  2021    290
2          15        45        27     42  2021    437
3          33        30        45      6  2021    326
4          35        11        33     47  2021    413
..        ...       ...       ...    ...   ...    ...
475        21        47        33     20  2022    396
476        35        35        18     15  2022    280
477         5        14        24      4  2022    308
478        46        42         5     12  2022    247
479        39        30        42     42  2022    446

[480 rows x 18 columns]

In [17]:
# 필요한 데이터 추출
crime_summary = df3[['Police Station','Year','Traffic','total']].groupby(by=['Police Station','Year']).sum(['Traffic','total']).reset_index()
print(crime_summary)

   Police Station  Year  Traffic  total
0            PS 1  2021      319   4340
1            PS 1  2022      271   3927
2           PS 10  2021      297   4421
3           PS 10  2022      252   3873
4           PS 11  2021      353   4187
5           PS 11  2022      270   3956
6           PS 12  2021      382   4027
7           PS 12  2022      295   4159
8           PS 13  2021      326   4024
9           PS 13  2022      346   4242
10          PS 14  2021      327   4650
11          PS 14  2022      388   4255
12          PS 15  2021      305   4056
13          PS 15  2022      282   4421
14          PS 16  2021      344   4181
15          PS 16  2022      340   4181
16          PS 17  2021      216   4368
17          PS 17  2022      259   4280
18          PS 18  2021      282   4412
19          PS 18  2022      342   4575
20          PS 19  2021      361   4269
21          PS 19  2022      371   4087
22           PS 2  2021      306   3802
23           PS 2  2022      323   4182
24          PS 20  2021      261   4055
25          PS 20  2022      219   3976
26           PS 3  2021      327   4308
27           PS 3  2022      303   3974
28           PS 4  2021      310   4278
29           PS 4  2022      294   4115
30           PS 5  2021      259   3946
31           PS 5  2022      205   3974
32           PS 6  2021      319   4164
33           PS 6  2022      330   4160
34           PS 7  2021      323   4228
35           PS 7  2022      308   4102
36           PS 8  2021      325   4106
37           PS 8  2022      328   4375
38           PS 9  2021      413   4250
39           PS 9  2022      268   4083

In [18]:
# 연도별로 데이터 분리
crime_2021 = df3[df3['Year'] == 2021][['Police Station','Year','total']]
crime_2022 = df3[df3['Year'] == 2022][['Police Station','Year','total']]
crime_2021.head(50)
# crime_merged = pd.merge(crime_2021,crime_2022,on='Police Station')
# crime_merged.head()

   Police Station  Year  total
0            PS 1  2021    317
1            PS 1  2021    290
2            PS 1  2021    437
3            PS 1  2021    326
4            PS 1  2021    413
5            PS 1  2021    348
6            PS 1  2021    483
7            PS 1  2021    271
8            PS 1  2021    265
9            PS 1  2021    478
10           PS 1  2021    331
11           PS 1  2021    381
24           PS 2  2021    279
25           PS 2  2021    280
26           PS 2  2021    339
27           PS 2  2021    357
28           PS 2  2021    387
29           PS 2  2021    229
30           PS 2  2021    370
31           PS 2  2021    220
32           PS 2  2021    338
33           PS 2  2021    358
34           PS 2  2021    345
35           PS 2  2021    300
48           PS 3  2021    299
49           PS 3  2021    398
50           PS 3  2021    450
51           PS 3  2021    317
52           PS 3  2021    327
53           PS 3  2021    359
54           PS 3  2021    353
55           PS 3  2021    396
56           PS 3  2021    395
57           PS 3  2021    424
58           PS 3  2021    345
59           PS 3  2021    245
72           PS 4  2021    347
73           PS 4  2021    332
74           PS 4  2021    319
75           PS 4  2021    424
76           PS 4  2021    412
77           PS 4  2021    223
78           PS 4  2021    379
79           PS 4  2021    365
80           PS 4  2021    343
81           PS 4  2021    473
82           PS 4  2021    265
83           PS 4  2021    396
96           PS 5  2021    280
97           PS 5  2021    375

In [19]:
crime_2022.head(50)

    Police Station  Year  total
12            PS 1  2022    388
13            PS 1  2022    223
14            PS 1  2022    383
15            PS 1  2022    386
16            PS 1  2022    314
17            PS 1  2022    276
18            PS 1  2022    350
19            PS 1  2022    337
20            PS 1  2022    307
21            PS 1  2022    390
22            PS 1  2022    263
23            PS 1  2022    310
36            PS 2  2022    266
37            PS 2  2022    419
38            PS 2  2022    386
39            PS 2  2022    471
40            PS 2  2022    324
41            PS 2  2022    404
42            PS 2  2022    221
43            PS 2  2022    259
44            PS 2  2022    353
45            PS 2  2022    231
46            PS 2  2022    504
47            PS 2  2022    344
60            PS 3  2022    384
61            PS 3  2022    354
62            PS 3  2022    235
63            PS 3  2022    419
64            PS 3  2022    263
65            PS 3  2022    353
66            PS 3  2022    294
67            PS 3  2022    293
68            PS 3  2022    228
69            PS 3  2022    473
70            PS 3  2022    370
71            PS 3  2022    308
84            PS 4  2022    235
85            PS 4  2022    336
86            PS 4  2022    241
87            PS 4  2022    335
88            PS 4  2022    430
89            PS 4  2022    362
90            PS 4  2022    411
91            PS 4  2022    315
92            PS 4  2022    403
93            PS 4  2022    393
94            PS 4  2022    347
95            PS 4  2022    307
108           PS 5  2022    425
109           PS 5  2022    304

In [20]:
crime_merged = pd.merge(crime_2021,crime_2022,on='Police Station')
crime_merged.head(50)

   Police Station  Year_x  total_x  Year_y  total_y
0            PS 1    2021      317    2022      388
1            PS 1    2021      317    2022      223
2            PS 1    2021      317    2022      383
3            PS 1    2021      317    2022      386
4            PS 1    2021      317    2022      314
5            PS 1    2021      317    2022      276
6            PS 1    2021      317    2022      350
7            PS 1    2021      317    2022      337
8            PS 1    2021      317    2022      307
9            PS 1    2021      317    2022      390
10           PS 1    2021      317    2022      263
11           PS 1    2021      317    2022      310
12           PS 1    2021      290    2022      388
13           PS 1    2021      290    2022      223
14           PS 1    2021      290    2022      383
15           PS 1    2021      290    2022      386
16           PS 1    2021      290    2022      314
17           PS 1    2021      290    2022      276
18           PS 1    2021      290    2022      350
19           PS 1    2021      290    2022      337
20           PS 1    2021      290    2022      307
21           PS 1    2021      290    2022      390
22           PS 1    2021      290    2022      263
23           PS 1    2021      290    2022      310
24           PS 1    2021      437    2022      388
25           PS 1    2021      437    2022      223
26           PS 1    2021      437    2022      383
27           PS 1    2021      437    2022      386
28           PS 1    2021      437    2022      314
29           PS 1    2021      437    2022      276
30           PS 1    2021      437    2022      350
31           PS 1    2021      437    2022      337
32           PS 1    2021      437    2022      307
33           PS 1    2021      437    2022      390
34           PS 1    2021      437    2022      263
35           PS 1    2021      437    2022      310
36           PS 1    2021      326    2022      388
37           PS 1    2021      326    2022      223
38           PS 1    2021      326    2022      383
39           PS 1    2021      326    2022      386
40           PS 1    2021      326    2022      314
41           PS 1    2021      326    2022      276
42           PS 1    2021      326    2022      350
43           PS 1    2021      326    2022      337
44           PS 1    2021      326    2022      307
45           PS 1    2021      326    2022      390
46           PS 1    2021      326    2022      263
47           PS 1    2021      326    2022      310
48           PS 1    2021      413    2022      388
49           PS 1    2021      413    2022      223

In [21]:
# 범죄율이 가장 큰 경찰서 탐색
crime_merged['increase'] = crime_merged['total_y']-crime_merged['total_x']
hightest_increase_station = crime_merged[crime_merged['increase']==max(crime_merged['increase'])]['Police Station'].item()
print(hightest_increase_station)

PS 2

In [22]:
# 해당 경찰서의 2021년 교통 범죄 데이터 추출
results = df3[(df3['Police Station']==hightest_increase_station)&(df3['Year']==2021)]['Traffic'].sum()
print(results)

306

**2) 작업형 제2유형**

01.	다음은 선호하는 메타버스 유형에 대한 데이터 세트이다. 주어진 훈련 데이터 세트를 활용하여 선호하는 메타버스 유형을 분류하는 모델을 구축하고 테스트 데이터 세트를 대상으로 분류한 결과를 csv 파일로 제출하시오.
* 결과 제출 양식 : 제출한 예측값의 macro_f1 결과를 통해 영역별 배점에 따라 최종 점수가 반영될 예정

In [44]:
# 라이브러리 불러오기
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import f1_score

In [45]:
# 라이브러리 불러오기
train_data = pd.read_csv('./data/6_2_1_Metaverse Training Data.csv')
test_data_x = pd.read_csv('./data/6_2_2_Metaverse Testing Data_x.csv')
test_data_y = pd.read_csv('./data/6_2_3_Metaverse Testing Data_y.csv',encoding='cp949')

In [46]:
# 데이터 분리
X_train = train_data.drop('Preferred Metaverse Type', axis=1)
y_train = train_data['Preferred Metaverse Type']
X_test = test_data_x.drop('id', axis=1)
y_test = test_data_y['Preferred Metaverse Type']

In [47]:
# 변수 확인
X_train.head()

,Gender,Education,Occupation Type,Residence Type,Experience Using Metaverse,Age,Annual Salary
0,female,Elementary school graduate,Wholesale industry,Apartment,no,76,144766
1,female,Bachelor's degree,Wholesale industry,Townhouse,no,71,218622
2,other,Doctorate,Manufacturing industry,Townhouse,yes,50,172358
3,female,Bachelor's degree,Electric power industry,Townhouse,no,38,472211
4,male,Middle school graduate,Manufacturing industry,Townhouse,no,10,90360

In [48]:
# 수치형 데이터 스케일링
scaler = StandardScaler()
numeric_features = X_train.select_dtypes(include=['number']).columns
X_train[numeric_features] = scaler.fit_transform(X_train[numeric_features])
X_test[numeric_features] = scaler.transform(X_test[numeric_features])

In [49]:
# 범주형 데이터 인코딩
encoder = OneHotEncoder()
categorical_features = X_train.select_dtypes(include=['object']).columns
X_train_encoded = encoder.fit_transform(X_train[categorical_features])
X_test_encoded = encoder.transform(X_test[categorical_features])
print(X_train_encoded.shape,X_test_encoded.shape)

(5000, 35) (300, 35)

In [50]:
# 인코딩된 범주형 데이터를 DataFrame으로 변환
X_train_encoded_df = pd.DataFrame(X_train_encoded.toarray(), columns=encoder.get_feature_names_out(categorical_features))
X_test_encoded_df = pd.DataFrame(X_test_encoded.toarray(), columns=encoder.get_feature_names_out(categorical_features))

In [51]:
# 수치형 데이터와 범주형 데이터를 결합
X_train_final = pd.concat([X_train[numeric_features].reset_index(drop=True), X_train_encoded_df.reset_index(drop=True)], axis=1)
X_test_final = pd.concat([X_test[numeric_features].reset_index(drop=True), X_test_encoded_df.reset_index(drop=True)], axis=1)

In [52]:
X_train_final.head()

,Age,Annual Salary,Gender_female,Gender_male,Gender_other,Education_Bachelor's degree,Education_Doctorate,Education_Elementary school graduate,Education_High school graduate,Education_Master's degree,...,Occupation Type_Water industry,Occupation Type_Wholesale industry,Residence Type_Apartment,Residence Type_Multi-family home,Residence Type_Multiple home,Residence Type_Officetel,Residence Type_Single-family home,Residence Type_Townhouse,Experience Using Metaverse_no,Experience Using Metaverse_yes
0,0.829424,-0.710408,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.654140,-0.189044,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,-0.082054,-0.515630,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,-0.502736,1.601089,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,-1.484329,-1.094470,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [53]:
# 로지스틱 회귀 모델 생성 및 평가
# 로지스틱 회귀 모델 초기화 및 훈련
lr_model = LogisticRegression()
lr_model.fit(X_train_final, y_train)
# 테스트 데이터에 대한 예측
lr_predictions = lr_model.predict(X_test_final)

# Macro F1 Score 계산
lr_macro_f1 = f1_score(test_data_y['Preferred Metaverse Type'], lr_predictions, average='macro')
print(f"로지스틱 회귀 모델 Macro F1 Score: {lr_macro_f1}")

로지스틱 회귀 모델 Macro F1 Score: 0.2473295426503332

In [54]:
# 랜덤 포레스트 모델 생성 및 평가
# 랜덤 포레스트 모델 초기화 및 훈련
rf_model = RandomForestClassifier()
rf_model.fit(X_train_final, y_train)

# 테스트 데이터에 대한 예측
rf_predictions = rf_model.predict(X_test_final)

# Macro F1 Score 계산
rf_macro_f1 = f1_score(test_data_y['Preferred Metaverse Type'], rf_predictions, average='macro')
print(f"랜덤 포레스트 모델 Macro F1 Score: {rf_macro_f1}")

랜덤 포레스트 모델 Macro F1 Score: 0.22658663672817017

In [55]:
# SVM 모델 생성 및 평가
# SVM 모델 초기화 및 훈련
svm_model = SVC()
svm_model.fit(X_train_final, y_train)

# 테스트 데이터에 대한 예측
svm_predictions = svm_model.predict(X_test_final)

# Macro F1 Score 계산
svm_macro_f1 = f1_score(test_data_y['Preferred Metaverse Type'], svm_predictions, average='macro')
print(f"SVM 모델 Macro F1 Score: {svm_macro_f1}")

SVM 모델 Macro F1 Score: 0.2555302660146924

In [56]:
# 최종 모델 선택 및 파일 저장
# 최종 예측
final_predictions = svm_model.predict(X_test_final)

# CSV 파일로 저장
results = pd.DataFrame(final_predictions, columns=['Predicted'])
results.to_csv('./output/000001.csv', index=False)

**3) 작업형 제3유형**

01.	A 도시의 교통수단은 버스, 지하철, 택시, 자전거가 있다. 전문가들은 각 교통수단의 실제 선택 비율이 각각 40%, 30%, 20%, 10%라고 예측했다. 이를 검증하기 위해 대중교통 이용객들이 선호하는 교통수단에 대해 설문조사를 했다. 이를 위해 수립한 귀무가설과 대립가설은 아래와 같다. 이에 대한 검정을 진행하시오.



귀무가설 (H0) 	대중교통 이용객의 실제 교통수단 선택 비율이 예상 비율과 같다.


대립가설 (H1) 	대중교통 이용객의 실제 교통수단 선택 비율이 예상 비율과 다르다.

(1)	주어진 설문조사 데이터에서 전체 건수 대비 Subway를 선호하는 이용자의 비율을 구하시오. (단, 반올림하여 소수점 둘째 자리까지 계산한다.)

In [57]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
df5 = pd.read_csv('./data/6_3_1_transport_data.csv', encoding='cp949')
df5.head()

  User ID TransportMode
0      U1        subway
1      U2          taxi
2      U3        subway
3      U4        subway
4      U5        subway

In [58]:
# Subway를 선호하는 이용자의 비율 계산 (반올림하여 소수 둘째 자리까지 계산)
# 지하철을 선호하는 사용자 비율 계산
subway_pref_rate = (df5['TransportMode'] == 'subway').mean()

# 소수점 두 자리까지 반올림
results = round(subway_pref_rate, 2)
print(results)

0.29

(2)	예상 이용자 수와 실제 이용자 수가 동일한 비율을 보이는지 적합도를 검정하고 검정 통계량을 소수 둘째 자리로 반올림하시오.

In [59]:
# 예산 이용자 수와 실제 이용자 수의 비율 계산

# 라이브러리 불러오기
from scipy.stats import chisquare

# 각 교통 수단별 사용자 수
observed_counts = df5['TransportMode'].value_counts()

# 관찰된 순서를 기대 순서와 일치시키기 위해 정렬
observed_counts = observed_counts.reindex(['bus', 'subway', 'taxi', 'bicycle']).fillna(0)

# 전체 응답자 수
total_responses = df5.shape[0]

# 기대 비율에 따른 기대 사용자 수
expected_rates = [0.4, 0.3, 0.2, 0.1]  # 각 교통 수단별 기대 비율

#기대 빈도 구하기
expected_counts = [rate * total_responses for rate in expected_rates]

In [60]:
# 적합도 검정 수행
chi2_stat, p_value = chisquare(f_obs=observed_counts, f_exp=expected_counts)

# 검정 통계량 반올림
results = round(chi2_stat, 2)

# 결과 출력
print(results)

2.77

 (3)	위의 통계량에 대한 p-value를 구하고, 유의수준 0.05하에서 가설 검정의 결과를 채택, 기각 중 하나로 선택하시오 (단, p-value 값은 반올림하여 소수점 둘째 자리까지 계산한다.)

In [61]:
# p-값 반올림
p_value_rounded = round(p_value, 2)

# 유의 수준 0.05와 비교하여 결과 결정
if p_value_rounded > 0.05:
    decision = "귀무 가설 수용: 실제 교통 수단 선택 비율이 기대 비율과 유의미하게 다르지 않음"
else:
    decision = "귀무 가설 기각: 실제 교통 수단 선택 비율이 기대 비율과 유의미하게 다름"

# 결과 출력
print(f"p-값: {p_value_rounded}, 결정: {decision}")

p-값: 0.43, 결정: 귀무 가설 수용: 실제 교통 수단 선택 비율이 기대 비율과 유의미하게 다르지 않음

3.  작업형 제3유형
 02.	물고기의 무게를 다중회귀분석으로 분석하고자 한다. 데이터의 구성은 아래 표와 같다. Weight를 Y변수로 Length, Height, Width, FinSize를 X변수로 하는 다중회귀분석을 수행하고 아래에 답하시오.

(1)	Length의 회귀계수를 구하고, 소수 둘째 자리로 반올림하시오.

In [62]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import statsmodels.api as sm


df6 = pd.read_csv('./data/6_3_2_fish_weight_data.csv')
df6.head()

   id  Length  Height  Width  FinSize  Weight
0   1   63.91   28.72   3.46    18.22  194.32
1   2   77.22   14.45   7.12    15.71  194.59
2   3   68.22   30.73   4.09     7.33  191.24
3   4   63.59   38.68   2.21     2.54  194.23
4   5   53.89   13.71   0.73     8.74  131.82

In [63]:
# 독립변수 및 종속변수 설정

X = df6[['Length', 'Height', 'Width', 'FinSize']]  # 독립 변수
Y = df6['Weight']  # 종속 변수

# 상수항을 독립 변수에 추가
X = sm.add_constant(X)

In [64]:
# 다중 회귀 모델 생성 및 적합
model = sm.OLS(Y, X).fit()
print(model.params)

const     -3.318568
Length     2.035007
Height     1.493438
Width      0.640666
FinSize    0.980251
dtype: float64

In [65]:
# Length의 회귀 계수를 구하고 소수점 둘째 자리까지 반올림
results = round(model.params['Length'], 2)
print(results)

2.04

(2)	Height의 회귀계수의 p-value를 구하시오.

In [66]:
# p-value 계산
results = model.pvalues['Height']
print(results)

2.0296276104744038e-51

(3)	Width의 회귀계수가 p-value 0.05를 기준으로 했을 때 통계적으로 의미가 있는지를 평가하시오. 의미가 있는 경우엔 ‘Y’, 없는 경우엔 ‘N’을 출력하시오.

In [67]:
results = 'Y' if model.pvalues['Width'] < 0.05 else 'N'
print(results)

Y