**1) 작업형 제 1유형**

01.	주어진 데이터 세트는 학생들의 과목별 점수 데이터다. 수강과목은 통계(Statistics), 데이터사이언스(Data Science), 머신러닝(Machine Learning), 교양영어(English Literature)이다. 학생들은 이 중 3과목을 선택하여 들었으며 이에 대한 점수를 받았다. 가장 많은 학생이 들었던 과목을 구하고, 결측치를 제거한 후, 해당 과목의 점수를 표준화하여 가장 높은 점수를 소수 둘 때 자리로 반올림하여 구하시오.

In [57]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
from sklearn.preprocessing import StandardScaler

df1 = pd.read_csv('./data/7_1_1_students_scores.csv')
df1.head()

   student id  Statistics  DataScience  MachineLearning  EnglishLiterature
0           1         NaN         54.0             94.0               62.0
1           2        76.0         16.0             80.0                NaN
2           3         6.0          NaN             68.0               45.0
3           4        84.0         30.0             76.0                NaN
4           5         NaN         53.0             33.0               90.0

In [58]:
# 가장 많이 수강한 과목 계산
most_taken_subject = df1.iloc[:, 1:].count().idxmax()
print(most_taken_subject)

Statistics

In [59]:
# 해당 과목의 결측치 제거
df_most_taken = df1.dropna(subset=[most_taken_subject])

In [60]:
df_most_taken[most_taken_subject].isnull().sum()

0

In [61]:
# 점수 표준화
scaler = StandardScaler()
df_most_taken[most_taken_subject + '_standardized'] = scaler.fit_transform(df_most_taken[[most_taken_subject]])

C:\Users\hyunk\AppData\Local\Temp\ipykernel_26436\757283400.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_most_taken[most_taken_subject + '_standardized'] = scaler.fit_transform(df_most_taken[[most_taken_subject]])

In [62]:
df_most_taken.head()

,student id,Statistics,DataScience,MachineLearning,EnglishLiterature,Statistics_standardized
1,2,76.0,16.0,80.0,NaN,0.928049
2,3,6.0,NaN,68.0,45.0,-1.537180
3,4,84.0,30.0,76.0,NaN,1.209789
5,6,18.0,NaN,6.0,2.0,-1.114570
6,7,26.0,25.0,13.0,NaN,-0.832829

In [63]:
# 표준화된 점수 중 최고점 반올림
results = round(df_most_taken['Statistics_standardized'].max(),2)
print(results)

1.74

02.	 주어진 데이터 세트는 물고기 데이터로 무게(Weight), 길이(Length), 높이(Height), 폭(Width)으로 구성되어 있다. 종속변수는 무게이며 나머지는 독립변수이다. 종속변수와 가장 높은 상관관계를 보이는 변수를 찾으시오.

In [64]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
df2 = pd.read_csv('./data/7_1_2_fish_weight_data.csv')
df2.head()

   id  Length  Height  Width  FinSize  Weight
0   1   63.91   28.72   3.46    18.22  194.32
1   2   77.22   14.45   7.12    15.71  194.59
2   3   68.22   30.73   4.09     7.33  191.24
3   4   63.59   38.68   2.21     2.54  194.23
4   5   53.89   13.71   0.73     8.74  131.82

In [65]:
# 'Weight'와 나머지 변수들과의 상관관계 계산
correlation_with_weight = df2.drop(columns = ['id','Weight']).corrwith(df2['Weight'])

In [66]:
correlation_with_weight

Length     0.947420
Height     0.222426
Width     -0.046809
FinSize    0.107433
dtype: float64

In [67]:
# 가장 높은 상관관계를 보이는 변수 찾기
result = correlation_with_weight.idxmax()
print(result)

Length

03.	주어진 데이터 세트는 아파트 가격 데이터다. 아파트 가격을 결정하는 10개의 독립변수와 1개의 종속변수가 있다. 각 독립변수의 이상치를 사분위수를 기준으로 측정하고 이상치가 가장 많은 독립변수를 구하시오. 이때 결측치를 먼저 제거한 후 이상치를 구하시오. [단, 이상치는 (1Q-1.5IQR)보다 작거나 (3Q+1.5IQR)보다 큰 값이며, IQR은 Q3에서Q1을 뺀 값이다.]

In [68]:
# 라이브러리 및 데이터 불러오기
import pandas as pd

df3 = pd.read_csv('./data/7_1_3_apartment_prices_dataset.csv')
df3.head()
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 735 entries, 0 to 734
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Size              735 non-null    float64
 1   Bedrooms          735 non-null    int64
 2   Bathrooms         735 non-null    int64
 3   Floor             735 non-null    int64
 4   Age               735 non-null    int64
 5   DistanceToCenter  735 non-null    float64
 6   NearbySchools     735 non-null    float64
 7   NearbyParks       735 non-null    float64
 8   PublicTransport   735 non-null    float64
 9   SafetyIndex       735 non-null    int64
 10  Price             735 non-null    float64
dtypes: float64(6), int64(5)
memory usage: 63.3 KB

In [69]:
# 결측치 제거
df3_cleaned = df3.dropna()
df3_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 735 entries, 0 to 734
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Size              735 non-null    float64
 1   Bedrooms          735 non-null    int64
 2   Bathrooms         735 non-null    int64
 3   Floor             735 non-null    int64
 4   Age               735 non-null    int64
 5   DistanceToCenter  735 non-null    float64
 6   NearbySchools     735 non-null    float64
 7   NearbyParks       735 non-null    float64
 8   PublicTransport   735 non-null    float64
 9   SafetyIndex       735 non-null    int64
 10  Price             735 non-null    float64
dtypes: float64(6), int64(5)
memory usage: 63.3 KB

In [70]:
# 각 독립 변수의 이상치 계산
# 식별된 이상치의 개수를 outliers_count 딕셔너리에 저장합니다. 열 이름(col)을 키로 사용하고,
# 해당 열에서 식별된 이상치의 개수(outliers.shape[0])를 값으로 저장합니다.
outliers_count = {}
for col in df3_cleaned.columns[:-1]:# 가격(Price) 제외
  Q1 = df3_cleaned[col].quantile(0.25)
  Q3 = df3_cleaned[col].quantile(0.75)
  IQR = Q3 - Q1
  btom = Q1 - 1.5*IQR
  top = Q3 + 1.5*IQR
  outliers = df3_cleaned.loc[(df3_cleaned[col]<btom)|(df3_cleaned[col]>top),col]
  outliers_count[col] = outliers.shape[0]
  print(outliers)
  print(outliers.shape)

269    563.615954
Name: Size, dtype: float64
(1,)
249    11
251     8
407    11
Name: Bedrooms, dtype: int64
(3,)
514    4
644    5
Name: Bathrooms, dtype: int64
(2,)
6      54
7      38
126    39
477    39
Name: Floor, dtype: int64
(4,)
14      78
27      95
31      85
53     130
89      84
155     96
187     90
196     88
299     82
319     82
388    106
390     83
411    105
462     90
719     83
Name: Age, dtype: int64
(15,)
706    38.124819
Name: DistanceToCenter, dtype: float64
(1,)
12     26.897485
98     14.808924
466    15.123715
524    23.736575
580    19.203645
Name: NearbySchools, dtype: float64
(5,)
269     8.581849
470     6.894780
634    11.642260
639     6.436065
Name: NearbyParks, dtype: float64
(4,)
60     21.450200
244    25.649977
413    25.884225
431    21.284298
562    25.392160
Name: PublicTransport, dtype: float64
(5,)
44     260
235    160
631    184
Name: SafetyIndex, dtype: int64
(3,)

In [71]:
outliers_count

{'Size': 1,
 'Bedrooms': 3,
 'Bathrooms': 2,
 'Floor': 4,
 'Age': 15,
 'DistanceToCenter': 1,
 'NearbySchools': 5,
 'NearbyParks': 4,
 'PublicTransport': 5,
 'SafetyIndex': 3}

In [72]:
# 가장 많은 이상치를 가진 변수 탐색
results = max(outliers_count,key = outliers_count.get)
print(results)

Age

**2) 작업형 제 2유형**
01.	회사에서 신규 영업지점을 설립하려고 한다. 기존 영업지점 데이터를 이용하여 신규 영업지점을 설립할 경우 달성 가능한 매출을 예측하여 의사결정에 사용할 계획이다. 주어진 훈련 데이터 세트를 활용하여 매출 예측 머신러닝 모델을 구축하고, 테스트 데이터를 대상으로 매출을 예측한 결과를 CSV 파일로 제출하시오.
* 결과 제출 양식 : 예측한 Sales 데이터를 기준으로 RMSE를 계산하여 채점에 활용할 예정

In [73]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.metrics import mean_squared_error

In [74]:
# 데이터 불러오기
train_data= pd.read_csv('./data/7_2_1_sales_train_dataset.csv')
test_data_x = pd.read_csv('./data/7_2_2_sales_test_dataset_x.csv')
test_data_y = pd.read_csv('./data/7_2_3_sales_test_dataset_y.csv')

In [75]:
# 데이터 확인
train_data.head()

,BranchName,City,Population,IncomeGeneratingPopRatio,AverageIncome,IndustryType,Sales
0,지점106,대전,1961994,0.201855,5104676,농업,256900147
1,지점69,수원,1999348,0.609039,6175887,서비스업,185564838
2,지점480,광주,1736191,0.684106,4935993,농업,265883549
3,지점400,서울,1411974,0.488642,6387483,어업,130738595
4,지점435,수원,1599608,0.231685,6113313,어업,354354259

In [76]:
test_data_x.head()

,BranchName,City,Population,IncomeGeneratingPopRatio,AverageIncome,IndustryType
0,지점994,수원,2620192,0.272974,3971748,제조업
1,지점860,부산,1633511,0.208515,6905129,제조업
2,지점299,광주,1511031,0.552322,4664242,농업
3,지점554,울산,2165618,0.359201,4085372,서비스업
4,지점673,울산,668309,0.661939,6903510,제조업

In [77]:
test_data_y.head()

  BranchName      Sales
0      지점994  498818118
1      지점860  303166994
2      지점299  390553525
3      지점554  385693817
4      지점673  260868626

In [78]:
# 변수 구분
# 범주형 칼럼 선택
categorical_columns = ['BranchName','City','IndustryType']

# 수치형 칼럼 선택
numeric_features = ['Population','IncomeGeneratingPopRatio','AverageIncome']

In [79]:
# 훈련 데이터와 테스트 데이터를 결합하여 원-핫 인코딩
combined = pd.concat([train_data,test_data_x])
combined_encoded = pd.get_dummies(combined,columns = categorical_columns)
combined.head()
combined_encoded.head()

,Population,IncomeGeneratingPopRatio,AverageIncome,Sales,BranchName_지점1,BranchName_지점10,BranchName_지점100,BranchName_지점1000,BranchName_지점101,BranchName_지점102,...,City_부산,City_서울,City_수원,City_용인,City_울산,City_인천,IndustryType_농업,IndustryType_서비스업,IndustryType_어업,IndustryType_제조업
0,1961994,0.201855,5104676,256900147.0,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,1999348,0.609039,6175887,185564838.0,False,False,False,False,False,False,...,False,False,True,False,False,False,False,True,False,False
2,1736191,0.684106,4935993,265883549.0,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
3,1411974,0.488642,6387483,130738595.0,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1599608,0.231685,6113313,354354259.0,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [80]:
# 인코딩된 데이터를 다시 훈련 데이터와 테스트 데이터로 분리
train_data_encoded = combined_encoded.iloc[:len(train_data)]
test_data_x_encoded = combined_encoded.iloc[len(train_data):].drop(['Sales'],axis = 1)

In [81]:
train_data_encoded.head()

,Population,IncomeGeneratingPopRatio,AverageIncome,Sales,BranchName_지점1,BranchName_지점10,BranchName_지점100,BranchName_지점1000,BranchName_지점101,BranchName_지점102,...,City_부산,City_서울,City_수원,City_용인,City_울산,City_인천,IndustryType_농업,IndustryType_서비스업,IndustryType_어업,IndustryType_제조업
0,1961994,0.201855,5104676,256900147.0,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,1999348,0.609039,6175887,185564838.0,False,False,False,False,False,False,...,False,False,True,False,False,False,False,True,False,False
2,1736191,0.684106,4935993,265883549.0,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
3,1411974,0.488642,6387483,130738595.0,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1599608,0.231685,6113313,354354259.0,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [82]:
test_data_x_encoded.head()

,Population,IncomeGeneratingPopRatio,AverageIncome,BranchName_지점1,BranchName_지점10,BranchName_지점100,BranchName_지점1000,BranchName_지점101,BranchName_지점102,BranchName_지점103,...,City_부산,City_서울,City_수원,City_용인,City_울산,City_인천,IndustryType_농업,IndustryType_서비스업,IndustryType_어업,IndustryType_제조업
0,2620192,0.272974,3971748,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True
1,1633511,0.208515,6905129,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
2,1511031,0.552322,4664242,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
3,2165618,0.359201,4085372,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,True,False,False
4,668309,0.661939,6903510,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True

In [83]:
# 수치형 데이터 스케일링
scaler = StandardScaler()
train_data_encoded[numeric_features] = scaler.fit_transform(train_data_encoded[numeric_features])
test_data_x_encoded[numeric_features] = scaler.fit_transform(test_data_x_encoded[numeric_features])

C:\Users\hyunk\AppData\Local\Temp\ipykernel_26436\73753557.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_encoded[numeric_features] = scaler.fit_transform(train_data_encoded[numeric_features])

In [84]:
test_data_x_encoded.head()

,Population,IncomeGeneratingPopRatio,AverageIncome,BranchName_지점1,BranchName_지점10,BranchName_지점100,BranchName_지점1000,BranchName_지점101,BranchName_지점102,BranchName_지점103,...,City_부산,City_서울,City_수원,City_용인,City_울산,City_인천,IndustryType_농업,IndustryType_서비스업,IndustryType_어업,IndustryType_제조업
0,1.275727,-1.224050,-0.937954,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True
1,-0.041569,-1.659171,1.646813,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
2,-0.205090,0.661646,-0.327758,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
3,0.668835,-0.641984,-0.837833,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,True,False,False
4,-1.330189,1.401601,1.645386,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True

In [85]:
# 훈련 데이터와 테스트 데이터 준비
X_train_encoded = train_data_encoded.drop('Sales', axis = 1)
y_train = train_data_encoded['Sales']
X_test_encoded = test_data_x_encoded
y_test = test_data_y['Sales']

In [86]:
# 선형 회귀 모델 학습 및 평가
linear_model = LinearRegression()
linear_model.fit(X_train_encoded,y_train)
linear_pred = linear_model.predict(X_test_encoded)
linear_rmse = np.sqrt(mean_squared_error(y_test, linear_pred))
print(f'Linear Regression RMSE: {linear_rmse}')

Linear Regression RMSE: 116243634.01965792

In [87]:
# 랜덤 포레스트 모델 학습 및 평가
rf_model = RandomForestRegressor(n_estimators=100)
rf_model.fit(X_train_encoded,y_train)
rf_pred = rf_model.predict(X_test_encoded)
rf_rmse = np.sqrt(mean_squared_error(y_test,rf_pred))
print(f'Random Forest RMSE: {rf_rmse}')

Random Forest RMSE: 119326454.62673105

In [88]:
# 인공신경망 모델 학습 및 평가
mlp_model = MLPRegressor(hidden_layer_sizes = (50,), max_iter = 500)
mlp_model.fit(X_train_encoded,y_train)
mlp_pred = mlp_model.predict(X_test_encoded)
mlp_rmse = np.sqrt(mean_squared_error(y_test,mlp_pred))
print(f'MLP Regressor RMSE: {mlp_rmse}')

MLP Regressor RMSE: 326233359.3042256

c:\Users\hyunk\anaconda3\Lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(

In [89]:
# 테스트 데이터에 대한 판매 예측
results = linear_model.predict(X_test_encoded)
# 예측 결과를 CSV 파일로 저장
result_df = pd.DataFrame({'PredictedSales':results})
result_df.to_csv('./output/0000.csv',index=False)

In [90]:
result_df

     PredictedSales
0      3.060033e+08
1      3.089425e+08
2      3.075305e+08
3      3.088205e+08
4      2.934843e+08
..              ...
295    3.064204e+08
296    3.046317e+08
297    2.993945e+08
298    2.967805e+08
299    3.052054e+08

[300 rows x 1 columns]

**3) 작업형 제 3유형**

01.	키(Height), 몸무게(Weight), 발 사이즈(Shoe Size)를 이용하여 남녀(Sex) 성별을 분류하는 로지스틱 회귀모형을 만들고자 한다. 주어진 데이터 세트를 이용하여 로지스틱 회귀모형을 만들고 아래의 질문에 답하시오. 단, 주어진 데이터 세트의 2/3을 훈련용으로, 1/3을 테스트용으로 분할하여 작업하시오

In [91]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import log_loss, accuracy_score

In [92]:
# 데이터 불러오기
df4 = pd.read_csv('./data/7_3_1_gender_prediction_dataset.csv')
df4.head()

   Height  Weight  ShoeSize  Gender
0   177.6    59.0     274.0    Male
1   168.0    49.4     238.0  Female
2   157.4    69.8     248.0  Female
3   177.9    62.3     278.0    Male
4   156.0    55.3     232.0  Female

In [93]:
# 데이터 분할 (성별을 0과 1로 인코딩)
X = df4[['Height','Weight','ShoeSize']]
y = (df4['Gender']=='Male').astype(int) # 'Male'을 1로, 'Female'을 0으로 변환
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 1/3, random_state = 42 )

In [94]:
X_train.head()

     Height  Weight  ShoeSize
228   165.6    58.2     246.0
69    190.8    63.0     284.0
31    171.7    60.6     264.0
183   177.6    64.5     242.0
265   165.8    54.6     237.0

In [95]:
y_train.head()

228    0
69     1
31     1
183    1
265    0
Name: Gender, dtype: int32

(1)	훈련용 데이터를 이용하여 ‘Height’, ‘Weight’, ‘Shoe Size’를 설명변수로 사용하는 로지스틱 회귀모형을 만들고 Weight의 오즈비를 계산하시오.

In [96]:
# (1) 로지스틱 회귀 모델 학습
log_reg = LogisticRegression()
log_reg.fit(X_train,y_train)

LogisticRegression()

In [97]:
log_reg.coef_

array([[0.79430719, 0.77877971, 0.45091435]])

In [98]:
log_reg.coef_[0][1]

0.7787797092463677

In [99]:
# Weight의 Odds Ratio 계산
results = np.exp(log_reg.coef_[0][1])
print(results)

2.178811858628397

(2)	모델의 로짓우도(log-likelihood)를 구하시오.

In [100]:
# 로짓우도 : 모델 에측값과 실제 값과 일치 여부를 로그 함수를 써서 오차를 계
results = -log_loss(y_train,log_reg.predict_proba(X_train),normalize = False)
print(results)

-4.538386402366911

(3)	(2)에서 만든 모델로 평가용 데이터를 예측한 결과와 실제값의 오차율을 구하시오.

In [101]:
y_pred = log_reg.predict(X_test)
results = 1 - accuracy_score(y_test, y_pred)
print(results)

0.030000000000000027

**3) 작업형 제 3유형**

02.	중고차의 가격을 다중회귀분석으로 분석하고자 한다. ‘Price’를 종속변수로, ‘Year’, ‘Transmission’, ‘Mileage’, ‘Fuel type’, ‘Tax’, ‘Mpg’, ‘Engine Size’를 독립변수로 사용한다. 데이터의 구성은 아래 표와 같다.

(1)	다중회귀분석 모형의 결정계수를 구하시오.

In [102]:
import pandas as pd
import statsmodels.api as sm

In [103]:
# 데이터 불러오기
df5 = pd.read_csv('./data/7_3_2_used_car_price_dataset.csv')
df5.head()

   year  price transmission  mileage fuelType  tax   mpg  engineSize
0  2017  12500       Manual    15735   Petrol  150  55.4         1.4
1  2016  16500    Automatic    36203   Diesel   20  64.2         2.0
2  2016  11000       Manual    29946   Petrol   30  55.4         1.4
3  2017  16800    Automatic    25952   Diesel  145  67.3         2.0
4  2019  17300       Manual     1998   Petrol  145  49.6         1.0

In [104]:
df5['transmission'].unique()

array(['Manual', 'Automatic', 'Semi-Auto'], dtype=object)

In [105]:
df5['fuelType'].unique()

array(['Petrol', 'Diesel', 'Hybrid'], dtype=object)

In [106]:
# 범주형 데이터 처리
df5['fuelType'] = df5['fuelType'].map({'Petrol':0, 'Diesel':1, 'Hybrid':2})
df5['transmission'] = df5['transmission'].map({'Manual':0, 'Automatic':1, 'Semi-Auto':2})

In [107]:
# 변수 준비
# 독립변수 및 종속변수 분류
X = df5[['year', 'transmission', 'mileage', 'fuelType', 'tax', 'mpg', 'engineSize']]
y = df5['price']

# 상수항 추가
X = sm.add_constant(X)

print(X)

      const  year  transmission  mileage  fuelType  tax   mpg  engineSize
0       1.0  2017             0    15735         0  150  55.4         1.4
1       1.0  2016             1    36203         1   20  64.2         2.0
2       1.0  2016             0    29946         0   30  55.4         1.4
3       1.0  2017             1    25952         1  145  67.3         2.0
4       1.0  2019             0     1998         0  145  49.6         1.0
...     ...   ...           ...      ...       ...  ...   ...         ...
4995    1.0  2017             2    18200         0  125  52.3         1.4
4996    1.0  2019             2     2480         0  145  34.9         2.0
4997    1.0  2019             1     4979         1  145  45.6         2.0
4998    1.0  2019             1     7000         1  145  50.4         2.0
4999    1.0  2019             1     6000         0  145  29.7         2.9

[5000 rows x 8 columns]

In [108]:
# 다중 회귀 분석 모델 생성
model = sm.OLS(y, X).fit()

In [109]:
# 결정 계수(R-squared)
results = model.rsquared
print(results)

0.7961028637982568

(2)	독립변수 중 회귀계수가 가장 큰 변수와 그 값을 구하여 튜플 타입으로 출력하시오.
* 예시 : (‘Weight’, 0.09003569454430438)

In [110]:
# 가장 큰 회귀 계수와 그 변수
coefficients = model.params
max_coef_var, max_coef_value = coefficients.idxmax(), coefficients.max()
print((max_coef_var, max_coef_value))

('engineSize', 13051.486542146977)

(3)	독립변수 중 p-value가 가장 낮은 변수와 그 값을 구하여 튜플 타입으로 출력하시오.

In [111]:
# 가장 낮은 p-value와 그 변수
p_values = model.pvalues
min_pval_var, min_pval_value = p_values.idxmin(),p_values.min()
print((min_pval_var, min_pval_value))

('engineSize', 0.0)